body{
background-color:#000;
color:white;
}

.navbar{
background-color:#111;
}

.btn-kawasaki{
background-color:#39FF14;
color:black;
border:none;
}

.btn-kawasaki:hover{
background-color:#2ecc71;
color:black;
}

.table{
background-color:#111;
color:white;
}

h1{
color:#39FF14;
}