body{
background-color:#000;
color:white;
}

.navbar{
background-color:#111;
}

.btn-kawasaki{
background-color:#39FF14;
color:black;
border:none;
}

.btn-kawasaki:hover{
background-color:#2ecc71;
color:black;
}

.table{
background-color:#111;
color:white;
}

h1{
color:#39FF14;
}

.hero{
height:80vh;
background-image:url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F1902977.jpg&f=1&nofb=1&ipt=86b9b37ebacb318dcdc7888ed86d06d1835f8ab312110b4334a15aa3ca679c16");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
position:relative;
}

.hero::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.6);
}

.hero div{
position:relative;
z-index:2;
}

.btn-kawasaki{
background:#39FF14;
color:black;
border:none;
}

.btn-kawasaki:hover{
background:#2ecc71;
}

input,
textarea,
select{
background-color:#111;
color:white;
border:1px solid #39FF14;
}

input:focus,
textarea:focus,
select:focus{
background-color:#111;
color:white;
border-color:#39FF14;
box-shadow:0 0 5px #39FF14;
}